{% extends 'base.html.twig' %}

{% block body %}
    <section class="page_404">
	<div class="container center404">
		<div class="row">	
		<div class="col-sm-12 ">
		<div class="col-sm-10 col-sm-offset-1  text-center">
		<div class="four_zero_four_bg">
			<h1 class="text-center ">Trick Erreur 500</h1>
		
		
		</div>
		
		<div class="contant_box_404">
		<h3 class="h2">
		Tu t'es perdu
		</h3>
		
		<p>Cette page n'existe pas !</p>
		
		<a href="/" class="link_404">Retour au tricks</a>
	</div>
		</div>
		</div>
		</div>
	</div>
</section>

{% endblock %}